body {
    background-color: #505050;
    margin: auto;
    position: relative;
}

#top, #mid, #left, #right{
    background-color:  #909090;
    box-shadow: 10px 10px 5px black;
    border-radius: 10px;
}

#top {

    width: 75%;
    margin: auto;
    position: relative;
    height: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#day42
{
    display: inline-block;
    width: 35%;
    margin-top: 1%;
}

#lupe{
    display: inline-block;
    position: absolute;
    bottom: -20%;
    right: 3%;
    width: 22%;
}

#reload {
    position: absolute;
    top: 5%;
    right: 1%;
    width: 1.5%;
}
#close {
    position: absolute;
    bottom: 5%;
    right: 1%;
    width: 1.5%;
}

#mid {
    width: 50%;
    margin: auto;
    text-align: center;
    /*    position: relative;*/
    z-index: -1
}

#ikea {
    position: absolute;
    display: block;
    left: 41%;
    top: 60%;
    width: 7%;
    height: 28%;
}
#apple {
    position: absolute;
    display: block;
    top: 60%;
    right: 26%;
    width: 10%;
    height: 20%;
}
#cluster{
    width: 98%;
    padding: 1%;
}

#left {
    display:inline-block;
    position: absolute;
    width:7.5%;
    height: 55%;
    left: 16%;
    margin-top: -28.7%;
    z-index: -1;
}
#arrow {
    position: relative;
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 10%;
}

#hand  {
    position: relative;
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 5%;

}
#eye {
    position: relative;
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 5%;
}

#tools {
    position: relative;
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 5%;
}

#chat {
    position: relative;
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;
}

#right {
    position: absolute;
    width: 7.5%;
    height: 55%;
    right: 16%;
    margin-top: -28.7%;

}

#book{
    position: relative;
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 10%;
}
#towel {
    position: relative;
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 5%;
}

#bricks{
    display: block;
    background : url("resources/brick.jpg");
    background-repeat: repeat;
    background-size: 25%;
    margin: auto;
    width: 80%;
    height: 15%;
    margin-top: 5%;
}

#bottom {
    display:inline-block;
    background-color: rgb(140, 253, 142);
    width:26%;
    height:auto;
    margin-top:-5%;
    margin-left: 10%;
    box-shadow: 10px 10px 5px black;
    border-radius: 10px;
    padding:1%;
    padding-top: 0;
    padding-bottom: 2.5%;
    z-index: 4;
}
p{
    font-size: 0.8vw;
    margin:0;
    font-family: Verdana;
}
#big{
    font-size: 2vw;
    font-family: Georgia;
}
#italic{
    font-style: italic;
}
#ordinateur{
    text-shadow:6px 6px 5.5px red;
}
#repondre{
    background-color: rgb(214, 214, 214);
    border-color: rgb(80, 80, 80);
    border: 1px solid;
    border-style:none;
    height: 10%;
    vertical-align: center;
    display:inline-block;
    width:20%;
    font-size: 0.8vw;
}

#input{
    width:65%;
    height:10%;
    display:inline-block;
    margin-top: 1%;
    font-size: 0.8vw;
}