#periodic_table {
    width: 100%;
    min-width: 600px;
}

#header {
    text-align: center;
    font-family: verdana;
    font-size: 3vw;
    margin: 0;
}

#periodic_table > div {
    margin-bottom: 1.5%;
}

#periodic_table > div > div {
    min-width: 30px;
    width: 5.5%;
    display: inline-block;
    margin-right: -7px;
}

#periodic_table > div > div > div {
    border: 3px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 0% 0;
}

.atomic {
    margin: 5%;
    margin-bottom: 2%;
    text-align: right;
    font-size: 0.7vw;
    margin-right: 5%;
}

.num {
    margin: 5%;
    margin-top: 2%;
    margin-left: 5%;
    text-align: left;
    font-size: 0.7vw;
}

.elem {
    margin: 10%;
    font-weight: bolder;
    font-family: georgia;
    font-size: 1.5vw;
    padding: 0;
    margin: 0;
}

.non-metal {
    background-color: rgba(0, 102, 204, 0.3);
}
.alkali-metal {
    background-color: rgba(204, 51, 0, 0.6);
}
.alkaline-earth {
    background-color: rgba(255, 153, 51, 0.6);
}
.transition-metal {
    background-color: rgba(230, 230, 0, 0.6);
}

.basic-metal {
    background-color: rgba(68, 102, 0, 0.4);
}

.semi-metal {
    background-color: rgba(51, 204, 204, 0.4);
}

.halogen {
    background-color: rgba(204, 153, 255, 0.4);
}

.noble-gas {
    background-color: rgba(204, 102, 153, 0.5);
}

.lanthanide {
    background-color: rgba(102, 153, 0, 0.5);
}
.actinide {
    background-color: rgba(0, 153, 51, 0.5);
}

img {
    padding-left: 85%;
    width: 325%;
    height: auto;
}