input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
/*table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}*/

/*td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
*/
tr:nth-child(even) {
    background-color: #dddddd;
}